<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body class="home-template" itemscope itemtype="http://schema.org/WebPage" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<body class="home-template" itemscope itemtype="http://schema.org/WebPage">
<header class="notepad-page-header">
<div class="notepad-page-menu-header">
<a class="notepad-blog-logo" style="display:inline-block; line-height:80px"href="{{ site.url }}">
	<img style="height:80px;padding:10px"src="{{ site.url }}/images/{{ site.logolight }}" alt="Blog Logo">
  <h3 style="display:inline; color:#318dde">m2g.io</h3>
</a>
<span style="float:right; line-height:80px; vertical-align:middle; padding-right:100px">
<a href="#links" >Links</a> |
<a href="#downloads" >Downloads</a> |
<a href="#references" >References</a>
</span>
</div>
</header>

<main class="notepad-content" role="main">
<div class="row" style="border-bottom: 0.0625rem solid #d9d9d9; padding-top: 2rem; padding-bottom: 1rem;">
<img style="height:80px; padding-right:20px" src="{{ site.url }}/images/{{ site.logolight }}" alt="m2g-logo"> <h2 style="display:inline-block;"> {{page.title}} </h2>
</div>
            {{ content }}
</main>
    {% include footer.html %}

{% include scripts.html %}  
</body>
</html>
